@page
@model _220529PruebaTecnica.Pages.Clientes.IndexModel
@{
}

<br>
<h2>List of Clients</h2>
<a class='btn btn-primary btn-sm' href='/Clientes/Crear'>Nuevo Cliente</a>
<table class="table">
    <thead>
        <tr>
            <th>Cedula</th>
            <th>Nombres</th>
            <th>Apellidos</th>
            <th>Telefono</th>
            <th>Correo</th>
            <th>Departamento</th>
            <th>Ciudad</th>
            <th>Edad</th>
            <th> </th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model.listaClientes)
        {
            <tr>
                <td>@item.id</td>
                <td>@item.nombres</td>
                <td>@item.apellidos</td>
                <td>@item.telefono</td>
                <td>@item.correo</td>
                <td>@item.departamento</td>
                <td>@item.ciudad</td>
                <td>@item.edad</td>
                <td>
                    <a class="btn btn-primary btn-sm" href="/Clientes/Edit?id=@item.id">Editar</a> 
                    <a class="btn btn-danger btn-sm" href="/Clientes/Delete?id=@item.id">Borrar</a>
                </td>
            </tr>
        }
    </tbody>
</table>